<p id="notice"><%= notice %></p>
<div class="container">
  <div class='column is-11 is-offset-1'>
<div class="content ">
  <h1>Diary entry from <%= @day.created_at.strftime("%D") %> </h1>
<p>
  <strong>TH:</strong>
  <%= @day.gift %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @day.thing %>
</p>

<p>
  <strong>Daily:</strong>
  <%= @day.daily %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @day.effort %>
</p>

<p>
  <strong>Improvement:</strong>
  <%= @day.improvement %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
</div>
</div>
</div>